<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>

    <div class="main-content">
        {{>header}}
        <br>
        <br>
        <br>
        <p>This site was created by Raymond Chu. It uses data from mapbox.com and weatherStack</p>
        <br>
        <img class="portrait" src="./img/1024px-缠流子.jpg">

    </div>
    {{>footer}}

</body>

</html>